body{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  background: #f8f9fb;
  color: #333;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
    sans-serif;

  --color: #0072ff;
  --fontSize: 16px;
  --bgColor: #ebeef4;

  --themeColor: #fed507;
  --activeColor: #b5590f;
  --bgColor: #fed730;
}

.absolute-center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.flex{
  display: flex;
}
.flex-centerY{
  display: flex;
  align-items: center;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-col{
  display: flex;
  flex-direction: column;
}

.text-over{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line-over{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.mt-10{
  margin-top: 10px;
}
.ml-10{
  margin-left: 10px;
}
.mr-10{
  margin-right: 10px;
}
.mb-10{
  margin-bottom: 10px;
}

.bg-fff{
  background-color: #fff;
}

.relative{
  position: relative;
}
.absoulute{
  position: absolute;
}
.right{
  text-align: right;
}
.center{
  text-align: center;
}

.link-text{
  color: var(--color);
  cursor: pointer;
  &:hover{
    color: #a0cfff;
  }
}

.round-box{
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 16px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #c8cbd0
}
::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: transparent;
}

.pointer{
  cursor: pointer;
}
.bold{
  font-weight: bold;
}
.color-999{
  color: #999;
}
.color-blue{
  color: var(--color);
}

.inline-block{
  display: inline-block;
}

.yellow-btn{
  background: #fdf8d2;
  padding: 2px 10px 2px 4px;
  border-radius: 8px;
  color: #b5590f;
  position: relative;
  border: 2px solid #b5590f;
  display: flex;
  align-items: center;
  justify-content: center;
  &_active{
    background: #fed507;
  }
}